.process_card {
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
  align-items: center;
  width: 260px;
  @media screen and(min-width: 320px) and( max-width: 744px) {
    font-size: 120px;
    width: 180px;
  }

  &__title {
    font-family: Poppins;
    font-weight: 900;
    font-size: 150px;
    color: transparent;
    text-align: center;
    margin: 0;

    @media screen and(min-width: 320px) and( max-width: 744px) {
      font-size: 120px;
    }
  }

  &__title_1 {
    -webkit-text-stroke: 1px #fcb05c;
  }
  &__title_2 {
    -webkit-text-stroke: 1px #ff1d9c;
  }
  &__title_3 {
    -webkit-text-stroke: 1px #0059df;
  }
  &__title_4 {
    -webkit-text-stroke: 1px #92ce91;
  }
  &__description {
    margin: 0;
    text-align: center;

    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    color: #2e2e2e;
    @media screen and(min-width: 320px) and( max-width: 744px) {
      font-size: 18px;
      line-height: 27px;
    }
  }
}
.process_card__wrapper {
  display: flex;
  position: relative;
  width: 100%;
}
.process_card__wrapper_left {
  @media screen and( max-width: 1240px) {
    justify-content: flex-start;
  }
}
.process_card__wrapper_right {
  @media screen and( max-width: 1240px) {
    justify-content: flex-end;
  }
}
.process_card__decor_left {
  width: 260px;
  height: 170px;

  position: absolute;
  right: 120px;
  bottom: -40px;
}
.process_card__decor_right {
  width: 260px;
  height: 170px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  left: 140px;
  bottom: -10px;
}
