.signinContent__wrapper {
  margin: auto;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width:300px) and( max-width: 744px) {
    max-width: 300px;
  }
}
.signinContent__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  @media screen and(min-width:300px) and( max-width: 744px) {
    font-size: 15px;
    line-height: 22px;
  }
}
.signinContent__title {
  margin: 125px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  @media screen and(min-width: 744px) and( max-width: 1240px) {
    font-size: 20px;
    line-height: 30px;
    margin: 125px 0 150px;
  }
  @media screen and(min-width:300px) and( max-width: 744px) {
    font-size: 20px;
    line-height: 30px;
    margin: 100px 0 60px;
  }
}

.signin_button {
  width: 260px;
  height: 50px;
  background: #2e2e2e;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 0 25px;
}

.signin_button_items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.signin_button_logo {
  height: 27px;
  width: 27px;
  position: relative;
}
