.footer {
  background-color: #2e2e2e;
  color: #fff;
}
.footer__wrapper {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  height: 250px;
  @media screen and( max-width: 1240px) {
    height: auto;
  }
}
.footer__logo {
}
.footer__menu {
  //   flex-wrap: wrap;
  max-width: 320px;
  max-height: 100%;
  display: flex;
  flex-flow: column wrap;
}
.footer__menu_link {
  //   flex: 1 1 160px;
  margin: 0 100px 25px 0;
  @media screen and( max-width: 1240px) {
    margin: 0 20px 25px 0;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  & * {
    margin-bottom: 25px;
  }
}
.footer__button {
  @media screen and( max-width: 1240px) {
    display: inline-block;
  }
}
