.section {
  padding: 50px;
  position: relative;
}
.section_bg {
  background-color: #fafbfb;
}
.section__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.section__header {
  font-weight: 900;
  font-size: 60px;
  line-height: 90px;
  margin-bottom: 80px;
  @media screen and(min-width: 744px) and( max-width: 1240px) {
    margin-bottom: 40px;
    font-size: 50px;
  }
}
.section__content {
  margin-bottom: 80px;
  display: flex;
  @media screen and(min-width: 744px) and( max-width: 1240px) {
    margin-bottom: 40px;
  }
}
.section__content_row {
  flex-direction: row;
  justify-content: space-between;
  @media screen and(min-width: 744px) and( max-width: 1240px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.section__content_column {
  flex-direction: column;
}
.section__content_margin {
  & div {
    margin: 0 70px;
    @media screen and(min-width: 744px) and( max-width: 1240px) {
      margin: 0;
    }
  }
}
.section__footer {
  margin-bottom: 50px;
}
