.section {
  padding: 50px;
  background-color: #fafbfb;
  position: relative;
}
.section__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.section__header {
  font-weight: 900;
  font-size: 60px;
  line-height: 90px;
  margin-bottom: 80px;
}
.section__content {
  margin-bottom: 80px;
  display: flex;
  // flex-wrap: wrap;
}
.section__content_row {
  flex-direction: row;
  justify-content: space-between;
}
.section__content_column {
  flex-direction: column;
}
.section__content_margin {
  & div {
    margin-right: 144px;
  }
  & :last-child {
    margin-right: 0;
  }
}
.section__footer {
  margin-bottom: 50px;
}
