.case_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px 20px;
  margin-bottom: 70px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 15px rgba(129, 129, 129, 0.15);
  }

  @media screen and (min-width: 744px) and (max-width: 1240px) {
    padding: 20px;
  }

  @media screen and (max-width: 744px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 40px 10px 20px;
  }
}

.case_card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 150px;

  @media screen and (min-width: 744px) and (max-width: 1240px) {
    margin: 0;
  }

  @media screen and (max-width: 744px) {
    margin: 0;
  }
}

.case_card__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  color: #2e2e2e;
  text-transform: uppercase;
  margin: 0 0 20px 0;

  @media screen and (min-width: 744px) and (max-width: 1240px) {
    font-size: 25px;
  }

  @media screen and (max-width: 744px) {
    font-size: 22px;
    line-height: 33px;
  }
}

.case_card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #2e2e2e;
  max-width: 500px;
  margin: 0;

  @media screen and (max-width: 1240px) {
    max-width: 630px;
    margin-right: 15px;
  }

  @media screen and (max-width: 744px) {
    display: none;
  }

  // @media screen and  ( max-width: 320px) {
  //   display: none;
  // }
}

.case_card__illustration {
  width: 100%;
  max-width: 519px;
  max-height: 367px;

  @media screen and (max-width: 744px) {
    max-width: 273px;
    max-height: 210px;
    margin-bottom: 20px;
  }

  & > img {
    max-width: 519px;
    max-height: 367px;
    object-fit: contain;

    @media screen and (max-width: 744px) {
      max-width: 273px;
      max-height: 210px;
    }
  }
}

// CaseChip styles

.chip {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px 20px;
  cursor: pointer;
  user-select: none;

  color: #2e2e2e;

  border: 1px solid #2e2e2e;
  box-sizing: border-box;
  border-radius: 40px;

  transition: all 0.5s ease-in-out;

  &_active {
    color: #ffffff;
    background-color: #2e2e2e;
  }

  &:hover {
    color: #ffffff;
    background-color: #2e2e2e;
  }

  @media screen and (max-width: 744px) {
    font-size: 14px;
    line-height: 21px;
    padding: 12px 15px;
  }
}

.filter__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;

  div {
    margin: 0 10px 20px 0;

    @media screen and (max-width: 744px) {
      margin: 0 10px 10px 0;
    }
  }
}
