.header__wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;

  margin-bottom: 20px;
  @media screen and ( min-width: 744px) and ( max-width: 1240px) {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 250px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen  and ( max-width: 744px) {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 50px;
  }
}
.header__text {
  width: 500px;
  z-index: 2;
  @media screen and ( min-width: 550px) and ( max-width: 1240px) {
    max-width: 100%;
  }
  @media screen  and ( max-width: 550px) {
    max-width: 69%;
  }
}
.header__image {
  width: 100%;


  @media screen and ( min-width: 744px) and ( max-width: 1240px) {
    max-height: 350px;
  }
  @media screen and ( min-width: 550px) and ( max-width: 744px) {
    max-width: 492px;
  }
  @media screen  and (max-width: 550px) {
    max-width: 316px;
    max-height: 182px;
  }
}
.header__chapter_title {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  margin: 0 0 20px 0;
  @media screen  and ( max-width: 744px) {
    font-size: 20px;
    line-height: 30px;
  }
}
.header__chapter_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin: 0 0 40px 0;
  @media screen and ( min-width: 320px) and ( max-width: 1240px) {
    width: 100%;
  }
  @media screen  and ( max-width: 744px) {
    font-size: 15px;
    line-height: 25px;
  }
}
.slider__wrapper {
  // width: 900px;
  // margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider__arrow {
  position: absolute;
  z-index: 2;
  top: calc(50% - 15px);
  width: 30px;
  height: 30px;
  cursor: pointer;
  &_left {
    left: 15px;
  }
  &_right {
    right: 15px;
  }
  @media screen  and ( max-width: 744px) {
    display: none;
  }
}
.slider__legend {
  z-index: 2;

  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #000;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  opacity: 0.25;
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  &:hover {
    opacity: 1;
  }
  @media screen  and ( max-width: 744px) {
    background: none;
    color: #000;
    opacity: 1;
    bottom: 205px;
  }
}
.case__legend {
  z-index: 2;
  margin: 0;

  text-align: center;
  @media screen and ( min-width: 744px) {
    margin: 20px 0 -100px 0;
  }
}
.case__slide {
  position: relative;
  width: 990px;
  height: 550px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px rgba(129, 129, 129, 0.15);
  @media screen and ( min-width: 320px) and ( max-width: 1240px) {
    width: 100%;
    height: 275px;
  }
  @media screen  and ( max-width: 550px) {
    max-width: 69%;
  }
}
