.services__intro {
  max-width: 650px;
  margin: 0 auto 100px;
  text-align: center;
}

.services__cards {
  display: flex;
  flex-direction: row;
  @media screen and( max-width: 1240px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
