@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PoppinsRegular;
  src: url(Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url(Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(Poppins-Black.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'PoppinsRegular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  /* background-color: rgb(253, 209, 179); */
  max-width: 1240px;
  margin: 0 auto;

  @media screen and (min-width: 744px) and (max-width: 1240px) {
    max-width: 664px;
  }

  @media screen and (min-width: 375px) and (max-width: 744px) {
    max-width: 644px;
    padding: 2rem;
  }

  @media screen and (max-width: 375px) {
    max-width: 300px;
  }
}

.content {
  padding-top: 70px;
}

.blocked {
  overflow: hidden;
  position: relative;
  touch-action: none;
  -ms-touch-action: none;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.aboutUsImageClass {
  @media screen and (min-width: 744px) and (max-width: 1240px) {
    margin: -100px 0 70px 0;
    width: 499px;
    height: 375px;
  }

  @media screen and (min-width: 375px) and (max-width: 744px) {
    margin: -50px 0 40px 0;
    width: 335px;
    height: 278px;
  }

  @media screen and (min-width: 320px) and (max-width: 375px) {
    margin: -50px 0 40px 0;
    width: 310px;
    height: 250px;
  }
}

.gallerySlideClass {
  @media screen and ( min-width: 744px) and (max-width: 1240px) {
    width: 663px;
    height: 442px;
  }

  @media screen and ( min-width: 320px) and (max-width: 744px) {
    width: 320px;
    height: 214px;
  }
}

.personClass {
  @media screen and (min-width: 320px) and (max-width: 744px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.personImageClass {
  @media screen and (min-width: 320px) and (max-width: 1240px) {
    width: 320px;
    height: 402px;
    margin: 0 40px 0 0;
  }

  @media screen and (min-width: 375px) and (max-width: 744px) {
    margin: 0 0px 0 0;
  }

  @media screen and (min-width: 320px) and (max-width: 375px) {
    margin: 0 0px 0 0;
  }
}

.personImageClassReverse {
  @media screen and (min-width: 744px) and (max-width: 1240px) {
    margin: 0 0px 0 0;
  }

  @media screen and (min-width: 375px) and (max-width: 744px) {
    margin: 0 0px 0 0;
  }

  @media screen and (min-width: 320px) and (max-width: 375px) {
    margin: 0 0px 0 0;
  }
}

.personTextClass {
  @media screen and (min-width: 320px) and (max-width: 744px) {
    max-width: 320px;
    padding: 0 10px;
  }
}
