$fontBlack: #000;
$fontWhite: #fff;
$customBlack: #2e2e2e;

.button {
  outline: none;
  border: 1px solid $customBlack;
  box-sizing: border-box;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $fontBlack;
  background-color: $fontWhite;
  transition: all 0.5s ease;

  &:hover {
    box-shadow: 0px 0px 15px rgba(183, 183, 183, 0.25);
  }

  &_small {
    padding: 15px 55px;
  }

  &_large {
    padding: 15px 110px;
  }

  &_filled {
    color: $fontWhite;
    background-color: $customBlack;
    &:hover {
      color: $fontBlack;
      background-color: $fontWhite;
    }
  }
  &_outlined {
    color: $fontBlack;
    background-color: $fontWhite;
    &:hover {
      color: $fontWhite;
      background-color: $customBlack;
    }
  }
}
