.process_card {
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
  align-items: center;
  width: 260px;
}
.process_card__title {
  font-family: Poppins;
  font-weight: 900;
  font-size: 150px;
  color: transparent;
  text-align: center;
  margin: 0;
}
.process_card__title_1 {
  -webkit-text-stroke: 1px #fcb05c;
}
.process_card__title_2 {
  -webkit-text-stroke: 1px #ff1d9c;
}
.process_card__title_3 {
  -webkit-text-stroke: 1px #0059df;
}
.process_card__title_4 {
  -webkit-text-stroke: 1px #92ce91;
}
.process_card__description {
  margin: 0;
  text-align: center;

  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
  color: #2e2e2e;
}

.process_card__wrapper {
  display: flex;
  // align-items: center;
  // justify-content: space-between;
  position: relative;
  width: 100%;
}
.process_card__wrapper_left {
  @media screen and(min-width: 744px) and( max-width: 1240px) {
    justify-content: flex-start;
  }
}
.process_card__wrapper_right {
  @media screen and(min-width: 744px) and( max-width: 1240px) {
    justify-content: flex-end;
    // top: -100px;
  }
}
.process_card__decor_left {
  width: 260px;
  height: 170px;

  position: absolute;
  right: 120px;
  bottom: -40px;
}
.process_card__decor_right {
  width: 260px;
  height: 170px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  left: 140px;
  bottom: -10px;
}
