.base {
  font-family: PoppinsRegular, 'Roboto', sans-serif;
  color: #000;
  outline: none;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  padding: 0 0 20px 0;
  width: 100%;

  & ::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #c4c4c4;

    @media screen and (min-width: 320px) and (max-width: 744px) {
      font-size: 15px;
      line-height: 22px;
    }
  }
}

.base[type='file']::file-selector-button {
  margin-right: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  background: #fff;
  color: #2e2e2e;

  border: 1px solid #2e2e2e;
  box-sizing: border-box;
  border-radius: 20px;
}

.base[type='file']::file-selector-button:hover {
  color: #fff;
  background: #2e2e2e;
}
