.contacts {
  padding: 50px;
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__header {
  font-weight: 900;
  font-size: 60px;
  line-height: 90px;
  margin: 30px 0 80px 0;
}
.contacts__content {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
}
.contacts__address {
  width: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: #000000;

  & strong {
    font-weight: 600;
  }
}
.contacts__social {
  & a {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
}
.contacts__social_item {
}
.address__main {
  margin: 0 0 50px 0;
}
.address__city {
  margin: 0 0 5px 0;
}
.address__street {
  margin: 0 0 50px 0;
}
.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 580px;
}
.form_input {
  margin-bottom: 20px;
}
.form__input_block {
  margin-bottom: 80px;
}
