// AboutHeader refactor
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  @media screen and (min-width: 320px) and (max-width: 1240px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

// AboutHeader refactor
.text {
  max-width: 660px;
  padding-right: 50px;
  text-align: justify;
  font-size: 16px;
  line-height: 27px;

  @media screen and (min-width: 320px) and (max-width: 1240px) {
    padding-right: 0;
    font-size: 15px;
    line-height: 26px;
  }
}

// AboutHeader refactor
.image {
  margin: -100px 0 0 0;

  width: 540px;
  height: 480px;

  @media screen and (min-width: 744px) and (max-width: 1240px) {
    margin: -100px 0 70px 0;
    width: 499px;
    height: 375px;
  }

  @media screen and (min-width: 375px) and (max-width: 744px) {
    margin: -50px 0 40px 0;
    width: 335px;
    height: 278px;
  }

  @media screen and (min-width: 320px) and (max-width: 375px) {
    margin: -50px 0 40px 0;
    width: 310px;
    height: 250px;
  }
}

// @media screen and ( min-width: 744px) and ( max-width: 1240px) {
// }
// @media screen and ( min-width: 375px) and ( max-width: 744px) {
// }
// @media screen and ( min-width: 320px) and ( max-width: 375px) {
// }

// PersonalBlock refactor
.person {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 100px 0;

    @media screen and (min-width: 744px) and (max-width: 1240px) {
      align-items: flex-start;
    }

    @media screen and (min-width: 320px) and (max-width: 744px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // PersonalBlock refactor
  &__wrapper_reverse {
    flex-direction: row-reverse;

    @media screen and (min-width: 320px) and (max-width: 744px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // PersonalBlock refactor
  &__image {
    position: relative;
    width: 450px;
    height: 565px;
    margin: 0 80px 0 0;
    box-shadow: 0px 0px 15px rgba(129, 129, 129, 0.15);

    @media screen and (min-width: 320px) and (max-width: 1240px) {
      width: 320px;
      height: 402px;
      margin: 0 40px 0 0;
    }

    @media screen and (min-width: 375px) and (max-width: 744px) {
      margin: 0 0px 0 0;
    }

    @media screen and (min-width: 320px) and (max-width: 375px) {
      margin: 0 0px 0 0;
    }
  }

  // PersonalBlock refactor
  &__image_reverse {
    margin: 0 0 0 80px;

    @media screen and (min-width: 744px) and (max-width: 1240px) {
      margin: 0 0px 0 0;
    }

    @media screen and (min-width: 375px) and (max-width: 744px) {
      margin: 0 0px 0 0;
    }

    @media screen and (min-width: 320px) and (max-width: 375px) {
      margin: 0 0px 0 0;
    }
  }

  // PersonalBlock refactor
  &__text {
    max-width: 654px;

    @media screen and (min-width: 744px) and (max-width: 1240px) {
      max-width: 300px;
    }

    @media screen and (min-width: 320px) and (max-width: 744px) {
      max-width: 320px;
      padding: 0 10px;
    }
  }

  // PersonalBlock refactor
  &__fullName {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;

    &:before {
      display: flex;
      content: '';
      width: 44px;
      height: 44px;
      background: #a0e0ed;
      border-radius: 50%;
      position: absolute;
      z-index: -1;
      left: -20px;
    }
  }

  // PersonalBlock refactor
  &__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 10px;
  }

  // PersonalBlock refactor
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    display: block;

    @media screen and (max-width: 1240px) {
      text-align: justify;
    }

    // @media screen and ( min-width: 375px) and ( max-width: 744px) {
    //   display: none;
    // }
    // @media screen and ( min-width: 320px) and ( max-width: 375px) {
    //   display: block;
    // }
  }

  &__description_tablet {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    display: none;

    @media screen and (min-width: 375px) and (max-width: 744px) {
      display: block;
    }
  }
}

.profile {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px 75px;

    @media screen and (min-width: 744px) and (max-width: 1240px) {
      margin: 0 8px 60px;
    }

    @media screen and (min-width: 420px) and (max-width: 744px) {
      margin: 0 8.5px 40px;
    }

    @media screen and (min-width: 300px) and (max-width: 420px) {
      margin: 0 2px 40px;
      // margin: 0;
    }
  }

  &__image {
    position: relative;
    width: 270px;
    height: 270px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px rgba(129, 129, 129, 0.15);
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;

    &:hover {
      -webkit-filter: grayscale(0);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0);
    }

    @media screen and (min-width: 744px) and (max-width: 1240px) {
      width: 205px;
      height: 205px;
      margin-bottom: 15px;
    }

    @media screen and (min-width: 420px) and (max-width: 744px) {
      width: 150px;
      height: 150px;
      margin-bottom: 10px;
    }

    @media screen and (min-width: 320px) and (max-width: 420px) {
      width: 145px;
      height: 145px;
      margin-bottom: 10px;
    }
  }

  &__text {
    max-width: 270px;

    @media screen and (min-width: 744px) and (max-width: 1240px) {
      max-width: 210px;
    }

    @media screen and (min-width: 320px) and (max-width: 744px) {
      max-width: 150px;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    margin: 0 0 10px 0;
    z-index: 1;
    position: relative;

    &:before {
      display: flex;
      content: '';
      width: 44px;
      height: 44px;
      background: #a0e0ed;
      border-radius: 50%;
      position: absolute;
      z-index: -1;
      left: -20px;
    }

    @media screen and (min-width: 320px) and (max-width: 744px) {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 5px 0;

      &:before {
        width: 30px;
        height: 30px;
        left: -10px;
      }
    }
  }

  &__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin: 0px;

    @media screen and (min-width: 320px) and (max-width: 744px) {
      font-weight: 400;
      font-size: 12px;
      line-height: 21px;
    }
  }
}
